@media only screen and (min-width: 60em) {
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #page1 #page2 {
        display: block;
    }

    #page3 {
        grid-column: span 1;
    }
}