body {
    font-family: 'PT Serif', Arial, sans-serif;
}


header {
    display: flex;
    height: 250px;
    background-color: rgba(7, 32, 49, 0.752);
    align-items: center;
}

/*
nav ul li{
    padding: 2em;
    list-style: none;
    display: inline-flex;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: white;
}
*/

/*
flex-flow: column;
Pasa lo que esta al lado hacia abajo

justify-content: center;
Pone todo el contenido al centro

justify-content: space-between;
Separa el contenido

*/


header {
    background-color: #284B63;
    display: flex;
	align-items: center;
    justify-content: space-between;
    color: #D9D9D9;
}

footer {
    background-color: #284B63;
    display: flex;
    justify-content: center;
    color: #D9D9D9;
    padding: 1rem;
}

main {
    display: flex;
    margin: 10em;
    flex-flow: column;
}

main h1 {
    display: flex;
    justify-content: center;
}

main h2 {
    margin-bottom: 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
  display: flex;
  color: rgb(255, 255, 255);
  padding: 0.75rem;
  text-decoration: none;
}



.lastupdate {
    color: yellow;
}










@media only screen and (min-width: 32.5em) {
  header {
  display: flex;
  flex-direction: row;
  align-items: center;
	
}

nav ul {
  display: flex;
  flex-direction: row;
  
}

nav ul li {
  padding: 2rem;
  list-style-type: none;
}
}


@media only screen and (min-width: 64em) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    
  }
  
  nav ul li {
    padding: 4rem;
    list-style-type: none;
  }
  
}